<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Pixels Rover</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="Pixels Rover">
    <meta name="description" content="The Rover of Pixels, a cloud-native data lake. See pixelsdb.io">
    <meta name="author" content="PixelsDB">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/rover.css">
    <!-- JS -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-multitabs/multitabs.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</head>

<body>
<div class="pixels-layout-web">
    <div class="pixels-layout-container">
        <!--左侧导航-->
        <aside class="pixels-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a th:href="@{/home}"><img src="images/logo-sidebar.png" title="PixelsDB" alt="PixelsDB"/></a>
            </div>
            <div class="pixels-layout-sidebar-scroll">
                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item active">
                        <li class="nav-item nav-item-has-subnav" id="schemasMenu">
                            <a href="javascript:void(0)" onclick="showSchemas()"><span>Schemas</span></a>
                            <ul class="nav nav-subnav" id="schemaMenu">
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><span>Reports</span></a>
                            <ul class="nav nav-subnav">
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><span>Settings</span></a>
                            <ul class="nav nav-subnav">
                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-footer">
                    <!--  <p class="copyright">Copyright &copy; 2023. <a target="_blank" href="http://pixelsdb.io">PxelsDB</a> All rights reserved.</p> -->
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="pixels-layout-header">
            <nav class="navbar navbar-default">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="pixels-aside-toggler">
                            <span class="pixels-toggler-bar"></span>
                            <span class="pixels-toggler-bar"></span>
                            <span class="pixels-toggler-bar"></span>
                        </div>
                    </div>
                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.jpg"
                                     th:alt="${user.getName()}"/>
                                <span th:text="${user.getName()} "></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="multitabs" data-url="pixels_pages_profile.html"
                                       href="javascript:void(0)">个人信息</a></li>
                                <li><a class="multitabs" data-url="pixels_pages_edit_pwd.html"
                                       href="javascript:void(0)">修改密码</a></li>
                                <li><a href="javascript:void(0)">清空缓存</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/logout}">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="pixels-layout-content">
            <div class="row">
                <!-- 左边区域 -->
                <div class="col-md-6 left-content">
                    <div class="content-title">
                        <p class="content-title-name">Pixels Chat</p>
                        <img class="fullscreen-btn" src="images/fullscreen.svg" onclick="toggleFullscreen('left')">
                    </div>

                    <!-- 聊天区域 -->
                    <div id="chat-area">
                        <div class="system-message">
                            This is PixelsDB. <br>
                            You can send SQL query.
                        </div>
                    </div>

                    <!-- 发送消息区域 -->
                    <div id="send-message-area">
                        <select id="schema-select">
                        </select>
                        <input type="text" id="chat-input" placeholder="Type a query...">
                        <button class="btn btn-block btn-primary" id="send-button" onclick="sendMessage()">Chat</button>
                    </div>

                    <!-- 模态窗口 -->
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p id="modal-query-sql"></p>
                            <div class="options-bar">
                                <select id="modal-execution-hint-select">
                                    <option value="0">Best Effort</option>
                                    <option value="1">Relaxed</option>
                                    <option value="2">Immediate</option>
                                </select>
                                <input type="number" id="modal-output-rows-input" placeholder="LIMIT">
                                <img src="images/execute.svg" alt="Confirm" id="modal-confirm-icon" class="icon">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 拖动条 -->
                <div class="col-md-6 resize"></div>

                <!-- 右边区域 -->
                <div class="col-md-6 right-content">
                    <!-- 全屏按钮 -->
                    <div class="content-title">
                        <p class="content-title-name">Query Status</p>
                        <img class="fullscreen-btn" src="images/fullscreen.svg" onclick="toggleFullscreen('right')">
                    </div>
                    <div id="status-area">

                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->

    </div>
</div>
</body>
</html>